extends layout

block content
  - var now = new Date().getTime()/1000;
  - each link in links
    .link.view-full(id=link.id)
      .thumb
        a(href=link.value.url)
          if link.value._attachments && link.value._attachments.image
            img(src='/api/v1/image/get?id='+link.id)
          else
            img(src='/img/noimage.jpg')

      h4
        a(class='main', href=(link.value.type == 'image') ? '/api/v1/image/get?id='+link.id : link.value.url)
          != link.value.title
      if (authenticated)
        i(class='icon-pencil edit')
      span.domain
        != link.value.url_parsed.domain
      span.saveddate(alt=new Date(link.value.saved*1000).toString())
        != func.duration(now-link.value.saved)
      if (link.value.private)
        i(class='icon-lock')
      if (link.value.tags)
        span.tags
          - each tag in link.value.tags
            span.badge.tag
              a(href='/user/'+user+'/'+tag)
                i.icon-tags
                != tag
      .description #{link.value.description}

block left-bar
  include view
  +taglist()
