link(href='/bookmarks/bootstrap-3.3.4-dist/css/bootstrap.min.css', rel='stylesheet')
script(src='/bookmarks/js/jquery-2.1.4.min.js')
script(src='/bookmarks/bootstrap-3.3.4-dist/js/bootstrap.min.js')
script(src='/bookmarks/js/typeahead.js')
link(href="/bookmarks/fontawesome/css/font-awesome.min.css", rel='stylesheet')
link(href="/bookmarks/css/typeahead.js-bootstrap.css", rel='stylesheet')
link(href='/bookmarks/css/main.css', rel='stylesheet')
script(src='/bookmarks/js/main.js')
