html
  head
    title login
    link(rel: "stylesheet", href: "style.css")
  body
    form(action: '/login', method: 'post')
      input(name: 'username')
      input(name: 'password')
      input(type: 'submit')

