html
  head
    title #{user.id}
    link(href: '/style.css', rel: 'stylesheet', type: 'text/css')
    script(src: '/jquery-1.4.4.min.js')
    script(src: '/common.js')
    script(src: '/user_posts.js')
  body
    div
      span logged in as #{locals.user}
    div!= body
